{% extends 'main/base.html' %}

{% block content %}
    <div id="login-block">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label>
                Username or Email
                <input name="username" required>
            </label>
            <label>
                Password
                <input name="password" required>
            </label>
            <input type="submit" value="Login">
            <input type="hidden" name="login" value="">
        </form>
        <a href="{% url 'register' %}">Register</a>
    </div>
{% endblock %}