extends layout

block head
  link(rel='stylesheet', href='/stylesheets/userInfo.css')

prepend nav
  - let whichNav = 1

block content
    .container
        .header
            h1 Welcome #{firstName}
        .favs
            h3 Your favorite news outlets: 
            p #{fav_orgs}
        form(method='post', action="http://localhost:3000/")
            label(type="text", name="news_outlet", id="news_outlet") Add to your favorite news outlets:
            textarea(name="news_outlet", id="news_outlet", rows="7")
            button(type="submit") Add
